<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.bradleyboxer.scavengerhunt.v3.GenerateQrActivity" android:label="Export Qr Code">

        </activity>
        <activity android:name="com.bradleyboxer.scavengerhunt.v3.QrScanner">

        </activity>
        <activity
            android:name="com.bradleyboxer.scavengerhunt.v3.TextInputActivity"
            android:label="Text Input"
            android:theme="@style/AppTheme">

        </activity>
        <activity
            android:name="com.bradleyboxer.scavengerhunt.v3.CompassActivity"
            android:label="@string/title_activity_solve_compass_clue"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.bradleyboxer.scavengerhunt.v3.ClueViewActivity"
            android:label="@string/title_activity_clue_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name="com.bradleyboxer.scavengerhunt.v3.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.bradleyboxer.scavengerhunt.v3.GeofenceTransitionsIntentService" />
    </application>

</manifest>